:root {
    --text-color: #2E2F42;
    --accent-color: #404BBF;
    --background-color: #FFFFFF;
    --paragraf-color: #434455;
    --button-color: #e7e9fc;
    --border-color: #8e8f99;
    --timing: cubic-bezier (0.4, 0, 0.2, 1);
    --transition-duration: 250ms;
}
body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    background-color: var(--background-color);
}
/*start reset*/
h1,
h2,
h3,
h4,
h5,
h6
p {
margin: 0px;
}
.container {
    width: 1158px;
    margin: 0px auto;
    padding: 0px 15px; 
}
ul {
    list-style: none;
}

/*header*/
.header-block {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
    display: flex;
    align-items: center;
    height: 72px;
}
/*logo*/

.header-block {
    border-bottom: 1px solid #e7e9fc;
}
.nav-link {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-right: 76px;
}
.logo-nav {
    color: var(--text-color);
}
.link {
    text-decoration: none;
}
.list-link {
    margin: 0px;
    padding: 0;
    width: 261px;
}
.link-aitem {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
    text-decoration: none;
    padding-top: 24px;
    padding-bottom: 24px;
    position: relative;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--timing);
}

.list-aitem:not(:last-child) {
    margin-right: 40px;
}

.link-aitem:focus,
.link-aitem:hover {
    color: var(--accent-color); 
}

.link-aitem::after {
    content: "";
    position: absolute;  
    bottom: 0;
    left: 0px;
    
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
}

.current::after,
.link-aitem:hover::after,
.link-aitem:focus::after {
    background: var(--accent-color);
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--timing);  
}

.contacts {
    font-style: normal;
}
.contacts-list {
    margin: 0px;
    padding: 0;
}

.aitem-link:not(:last-child) {
    margin-right: 40px;
}
.contacts-aitem {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--paragraf-color);
    text-decoration: none;
    padding-top: 24px;
    padding-bottom: 24px;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--timing); 
}

.contacts-aitem:active,
.contacts-aitem:hover,
.contacts-aitem:focus {
    color: var(--accent-color);
    
}  

--------------------------------/*MAIN*/--------------------------------
/*section site header*/
.container-main {
    display: block;
    text-align: center;  
}
.header {
    padding: 188px 0;
    background-color: var(--background-color);
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
        url(../images/main_header/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;

    position: relative;
}

.slogan {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--background-color);
    max-width: 496px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 48px;
}
.modal-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--background-color);
    background: #4D5AE5;
    cursor: pointer;
    display: block;
    margin: auto;
    padding: 16px 32px;
    border: 1px;
    border-radius: 4px;
    min-width: 169px;  
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--timing);
}
.modal-button:hover,
.modal-button:focus {
    background: var(--accent-color);    
}

/*section feature*/
.feature-section {
    padding: 120px 0;
}
.heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--text-color);
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0; 
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}
.feature-list {
    width: 264px;
}
.feature-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    width: 264px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px; 
}
.icon-feature {
    display: block;
    background-color: #F4F4FD;
    margin-bottom: 8px;
}

.feature-list:not(:last-child) {
    margin-right: 24px;
}
.feature-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--text-color);
    margin-bottom: 8px;
}
.feature-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--paragraf-color);
    margin: 0;
}

/*section skills*/
.skills-section {
    padding-bottom: 120px;
}
.heading-skills {
    margin-bottom: 72px;
}
.skills:not(:last-child) {
    margin-right: 24px;
}
.images {
    display: block
}

/*section our team*/
.team {
    background-color: #F4F4FD;
    padding: 120px 0
}

.heading-team {
    margin-bottom: 72px;
}
.team-card {
    background-color: var(--background-color);
    box-shadow: 
    0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08)
}
    
.team-card:not(:last-child) {
    margin-right: 24px;
    border-radius: 0px 0px 4px 4px;
}
.card-content {
    padding: 32px 0;
    border-radius: 0px 0px 4px 4px;
}
.card-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--text-color);
    margin-bottom: 8px;
}
.card-text {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    display: block;
    color: var(--paragraf-color);
    margin: 0 auto;
    margin-bottom: 8px;
}
.socials {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding-left: 0;
}
.socials-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    fill: #F4F4FD;
    border-radius: 50%;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--timing); 
}
.socials-icon {
    width: 24px;
}
.socials-link:hover,
.socials-link:focus {
    background-color: #404BBF;
    fill: #F4F4FD;
     
}
/*Customers*/
.customers {
    padding-top: 120px;
    padding-bottom: 120px;
}
.heading-customers {
    line-height: 1.1;
    margin-bottom: 72px;
}
.customers-logo {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    margin: 0;
    gap: 24px;
}
.logo-group {
    width: 168px;
    height: 88px;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--timing);
}
.group-icon {
    display: flex;
    margin: auto;
    fill: currentColor;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--timing); 
}
.logo-group:hover .group-icon,
.logo-group:focus .group-icon {
    fill: #404BBF;   
}
.group-link {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--border-color);
    border: 1px solid var(--border-color);
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--timing);  
}
.group-link:hover,
.group-link:focus {
    border-color: #404bbf;
    color: #404bbf;   
}


/*----------------------------------FOOTER*-----------------------------*/
.footer {
    display: flex;
    background: var(--text-color);
    padding: 100px 0;
}
.container-footer {
    display: flex;
    align-items: baseline;
}
.link-text {
    margin-right: 120px;
}

.link-footer {
    display: inline-block;
    margin-bottom: 16px;
    margin-right: auto;
}
.logo-footer {
    color: #F4F4FD;
}
.footer-text {
    font-size: 16px;
    line-height: 1,5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    width: 264px;
    margin: 0;
}

.footer-socials {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 16px; 
    margin: 0;
    width: 208px;
    min-height: 40px;
}  
.footer-name {
    font-weight: 500;
    display: block;
    color: var(--background-color);
    margin: 0;
    margin-bottom: 16px;
    padding: 0;
    letter-spacing: 0.02em;
}
.socials-footer:hover,
.socials-footer:focus {
    background-color: #31D0AA;
}

/*--------------------------------PORTFOLIO------------------------------*/
.portfolio-section {
    padding: 96px 0 120px;
}
.container-portfolio {
    display: block;
}
.portfolio-name {
    visibility: hidden;
}
.list-button {
    min-width: 586px;
    display: flex;
    justify-content:center ;
    gap: 24px;
    margin-bottom: 72px;
}
.button-filters {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    border: 1px solid var(--button-color);
    background: #F4F4FD;
    cursor: pointer;
    padding: 12px 24px;
    border-radius: 4px;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--timing); 
}
.button-filters:active,
.button-filters:hover,
.button-filters:focus {
    color: var(--background-color);
    background: var(--accent-color);
    box-shadow:  0px 2px 2px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);
    border: 1px solid transparent;
}
.card-set {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}
.list-card {
    flex-basis: calc((100% - 48px) / 3);
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--timing);  
}
.list-card:hover,
.list-card:focus {
    box-shadow: 
    0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
} 
.portfolio-content {
    padding: 32px 0 32px 16px;
}
.card-portfolio {
    text-align: start;
}
.text-portfolio {
    text-align: start;
}
.link-portfolio {
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--timing);
}
.link-portfolio:hover,
.link-portfolio:focus {
    box-shadow: 
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 2px 1px rgba(46, 47, 66, 0.08); 
}
.wrapper {
    position: relative;
    display: block;
    overflow: hidden;
}

.overlay {
    position: absolute;
    max-width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    
    padding: 40px 32px 0 32px;
    margin: 0;
    background-color: #4D5AE5;
    font-size: 16px;
    line-height: 1.5;
    
    letter-spacing: 0.02em;
    color: #F4F4FD;
    
    transform: translateY(100%);
    overflow: hidden;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--timing);
}

.list-card:hover .overlay,
.list-card:focus .overlay {
    transform: translateY(0);  
}

.border-portfolio {
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #E7E9FC;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #E7E9FC;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #E7E9FC;
}

/*BACKDROP*/

.backdrop {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);

    transition: opacity var(--transition-duration), 
    visibility var(--transition-duration);
}


.backdrop.is-hidden {
    visibility:hidden;
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 408px;
    min-height: 576px;
    background: #FCFCFC;
    padding: 24px;  
    
    border-radius: 4px;  
    box-shadow: 
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 2px 1px rgba(0, 0, 0, 0.2);  
}

.modal-button-close {
    position: absolute;
    width: 24px;
    height: 24px;
    padding: 0;
    top: 24px;
    right: 24px;
    cursor: pointer;
    background: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--timing);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-button-close:hover,
.modal-button-close:focus {
    background-color: var(--accent-color);
}

.modal-button-icon {
    position: absolute;
    left: 33.33%;
    right: 33.33%;
    top: 33.33%;
    bottom: 33.33%;
    flex: var(--text-color);
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--timing);
}

.modal-button-close:hover .modal-button-icon,
.modal-button-close:focus .modal-button-icon {
    fill: var(--background-color); 
}




    